*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(246, 248, 249);
    font-family: Arial, Helvetica, sans-serif;
}

/* logo */
header{
    background-color: white;
    height: 70px;
    padding: 10px;
}

#logo{
    width: 50px;
    height: 50px;
    vertical-align: middle;
}

#logo-text{
    font-size: 40px;
    vertical-align: middle;
}

/* white container */

#container{
    margin: 50px 25%;
    background-color: white;
    border-radius: 15px;
}

/* Add task/section */

.input{
    padding: 15px 50px;
    border-bottom: 2px solid rgb(246, 248, 249);
}

.button {
    padding: 5px 10px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#add-task{
    background-color: rgb(71, 173, 241);
    border: 1px solid rgb(71, 173, 241);

}

#add-section{
    background-color: white;
    border: 1px solid rgb(170, 170, 170);
    color: rgb(170, 170, 170);
}

/* new task, today, upcoming structure */

.to-do{
    padding: 25px 50px 0 50px;
}


.task-title{
    padding-bottom: 10px;
    font-weight: 800;
    font-size: 20px;
}

.task-content{
    padding: 5px 5px 20px 0px;
}

.ttl-arrow{
    font-size: 15px;
    display: inline-block;
}

/* content box */

.content-box{
    padding: 9px 16px;
    border-radius: 15px;
    display: inline;
    color: white;
    font-size: 13px;
    background-color: red;
}

.editorial{
    background-color: rgb(71, 173, 241);
}

.q1{
    background-color: rgb(154, 111, 227);
}

.recruiting{
    background-color: rgb(100, 192, 169);
}

.mobile{
    background-color: rgb(242, 156, 48);
}

.website{
    background-color: rgb(232, 163, 201);
}

.sales{
    background-color: rgb(176, 201, 38);
}
/* item check/x */

.item{
    border-radius: 50px;
    padding: 0px 5px;
    height: 25px;
    width: 25px;
    display: inline-block;
    margin-right: 8px;

}

.check{
    color: green;
    border: 1px solid green;
}

.x{
    color: red;
    border: 1px solid red;
}