*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(246, 248, 249);
}

/* logo */
header{
    background-color: white;
    height: 70px;
}

#logo{
    margin: 10px 10px;
}

#logo-text{
    font-size: 30px;
}

/* white container */

#container{
    height: 600px;
    width: 750px;
    margin: 50px 25%;
    background-color: white;
    border-radius: 15px;
}

/* Add task/section */

.input{
    padding: 15px 40px;
    border-bottom: 2px solid rgb(246, 248, 249);
}

.button {
    padding: 5px 10px;
    color: white;
    border-radius: 5px;
}

#add-task{
    background-color: rgb(71, 173, 241);
    border: none;

}

#add-section{
    background-color: white;
    border: 2px solid rgb(170, 170, 170);
    color: rgb(170, 170, 170);
}

/* new task, today, upcoming structure */

.to-do{
    padding: 25px 5px 0 40px;
}


.task-title{
    padding-bottom: 10px;
    font-weight: 800;
    font-size: 20px;
}

.task-content{
    padding: 0px 5px 15px 10px;
}

/* item check/x */

.item{
    border-radius: 50px;
    padding: 0px 5px;
    height: 25px;
    width: 25px;
    display: inline-block;

}

#check{
    color: green;
    border: 1px solid green;
}

#x{
    color: red;
    border: 1px solid red;
}